<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- 2. Use an HTML Import to bring in some elements. -->
    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html" >
    <link rel="import" href="bower_components/iron-icon/iron-icon.html" >
    <link rel="import" href="bower_components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="bower_components/paper-menu/paper-menu.html">
    <link rel="import" href="bower_components/paper-material/paper-material.html">
    <link rel="import" href="bk_components/category-list.html">
    <link rel="import" href="bk_components/bk-toolbar.html">


    <link href="/stylesheets/style.css" rel="stylesheet">

    <title>BetterKnowledge homepage</title>
    <style is="custom-style" include="iron-flex iron-flex-alignment">
        .bigIcon {
            --iron-icon-height: 70px;
            --iron-icon-width: 70px;
        }
    </style>
</head>

<body class="fullbleed layout vertical">
        <paper-scroll-header-panel class="flex">
            <section>
                <bk-toolbar user='<%- JSON.stringify(user) %>' <% if(isAuthenticated) {  %> is-Authenticated <% } %> >
                </bk-toolbar>
            </section>
            <section>
                <category-list category-List='<%- JSON.stringify(categoryList) %>' class="flex" grid></category-list>
            </section>
            <div class="horizontal layout center-justified materialContainer">
                <paper-material elevation="0" class="layout vertical center">
                    <iron-icon icon="dashboard" class="bigIcon"></iron-icon>
                    <h3>Choose a category</h3>
                    Categories are inspired by Wikipedia but you can create yours.So make your choice !
                </paper-material>
                <paper-material class="layout vertical center" elevation="0">
                    <iron-icon icon="record-voice-over" class="bigIcon"></iron-icon>
                    <h3>Discute and debate</h3>
                    BetterKnowledge will found other paticipants with which you can speak in a video chat. Discuss, debate, make your point !
                </paper-material>
                <paper-material  class="layout vertical center" elevation="0">
                    <iron-icon icon="create" class="bigIcon"></iron-icon>
                    <h3>Keep a trace</h3>
                    Once the debate is over, you can keep trace of your fresh knowledge in a block note. These will be usefull in your next debate !
                </paper-material>
            </div>
        </paper-scroll-header-panel>
</body>

</html>