<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administration</title>



    <link rel="import"
          href="polymer-elements/paper-button/paper-button.html">

    <link rel="import"
          href="polymer-elements/iron-icon/iron-icon.html">

    <link rel="import" href="polymer-elements/iron-icons/iron-icons.html">
    <link rel="import" href="polymer-elements/paper-drawer-panel/paper-drawer-panel.html">



    <!--
    <link rel="import"
          href="polymer-elements/paper-scroll-header-panel/paper-scroll-header-panel.html">
    -->


    <!-- Polyfill Web Components for older browsers -->
    <script src="web-components/webcomponents-lite.min.js"></script>

</head>


<body>

    <paper-drawer-panel>
        <div drawer> Drawer panel... </div>
        <div main> Main panel... </div>
    </paper-drawer-panel>

    <paper-button>
        click
    </paper-button>
    <iron-icon icon="menu"></iron-icon>




</body>

</html>