<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administration</title>


    <!-- Polyfill Web Components for older browsers -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import"
          href="bower_components/polymer/polymer.html">
    <link rel="import"
          href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import"
          href="bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import"
          href="bower_components/iron-form/iron-form.html">
    <link rel="import"
          href="bower_components/paper-input/paper-input.html">
    <link rel="import"
          href="bower_components/paper-button/paper-button.html">
    <link rel="import"
          href="bower_components/paper-material/paper-material.html">
    <link rel="import"
          href="bower_components/iron-list/iron-list.html">

    <link rel="import"
          href="bower_components/iron-ajax/iron-ajax.html">

    <link rel="import"
          href="bower_components/file-input/file-input.html">
    <link rel="import"
          href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import"
          href="bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import"
          href="bower_components/iron-icons/iron-icons.html">
    <link rel="import"
          href="bower_components/paper-menu/paper-menu.html">
    <link rel="import"
          href="bower_components/paper-item/paper-item.html">

    <link rel="import" href="bk_components/category-admin-list.html">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">

</head>


<body class="fullbleed layout vertical">

<paper-drawer-panel>
    <div drawer class="menuPanel">
        <paper-toolbar class="menuToolbar">
            <div class="menu-title">
                Menu
            </div>
        </paper-toolbar>
        <paper-menu selected="0">
            <paper-item>
                <iron-icon icon="folder"></iron-icon>
                <span>Catégories</span>
            </paper-item>
            <paper-item>
                <iron-icon icon="face"></iron-icon>
                <span>Utilisateurs</span>
            </paper-item>
        </paper-menu>



    </div>

    <paper-scroll-header-panel main class="flex">
        <!-- header -->
        <paper-toolbar>
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
            <div>Better Knowledge</div>
        </paper-toolbar>
        <!-- content -->
        <div>
            <section>
                <paper-material elevation="1">
                    <form  id="categoryForm" method="post" action="/admin/category/add" enctype='multipart/form-data'>
                        <div class="layout vertical start-justified">
                            <div class="layout horizontal">
                                <paper-input name="categoryName" label="name" class="flex"></paper-input>
                                <input name="categoryImage" type="file">
                            </div>
                            <paper-input name="categoryDescription" label="description"></paper-input>
                            <paper-fab icon="add" mini onclick="submitForm()"></paper-fab>
                            <script>
                                function submitForm() {
                                    document.getElementById('categoryForm').submit();
                                }
                            </script>
                        </div>
                    </form>
                </paper-material>
            </section>
            <section class="breathSpace">
                <category-admin-list category-List='<%- JSON.stringify(categoryList) %>' post-path='/admin/category' class="flex" ></category-admin-list>
            </section>
        </div>

    </paper-scroll-header-panel>

</paper-drawer-panel>

</body>

</html>