<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to the Knowledgeroom</title>

<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html" >
<link rel="import" href="bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">
<link rel="import" href="bower_components/paper-menu/paper-menu.html">
<link rel="import" href="bower_components/note-book/note-book.html">
<link rel="import" href="bk_components/bk-toolbar.html">
<link rel="import" href="bk_components/bk-footer.html">
<link rel="import" href="bk_components/open-tok.html">


<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/knowledgeRoom.css" rel="stylesheet">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
        .blocNote{
        --paper-input-container-input: {
             line-height: 25px;
                height: 500px;
             width: 300px;
         }
        }
    </style>

    <style is="custom-style">

    </style>

</head>

<body class="fullbleed layout vertical">
    <paper-scroll-header-panel class="flex">
        <section>
            <bk-toolbar>
            </bk-toolbar>
        </section>
        <div class="horizontal layout">
            <open-tok></open-tok>
            <note-book title="My Notebook">
                <paper-textarea class="blocNote"></paper-textarea>
            </note-book>
        </div>

    </paper-scroll-header-panel>
</body>

</html>

