<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signup</title>

    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import" href="bk_components/bk-toolbar.html">
    <link rel="import" href="bk_components/signup-form.html">


    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body class="fullbleed layout vertical">
<paper-scroll-header-panel class="flex">
    <div>
        <bk-toolbar class="paper-header" >
        </bk-toolbar>
        <signup-form></signup-form>
    </div>
</paper-scroll-header-panel>
</body>

</html>

