.menu-title{
    font-weight: 500;
    font-size: 20px;
}

.menuPanel{
    color :#737373;
}

.menuToolbar{
    color :#737373;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.22);
}

.menuPanel paper-item{
    padding: 0 16px;
}
.menuPanel iron-icon{
    margin-right: 37px;
}

.breathSpace{
    margin-top:20px;
}

.addButton{
    position: fixed;
    bottom: 16px;
    right: 16px;
}