.oddBg{
  background-color : #f9f9f9;
  padding:20px 30px 50px 40px;
}


.mainContent{
  margin-top:52px;
  width:100%;
  height: 200px;
}

.infosContainer{
  margin:15px auto;
  width:95%;
}

.infosContainer p{
  line-height: 31px;
  font-size: 16px;
}

.materialContainer{
  padding-top: 20vh;
}

.materialContainer paper-material{
  height :300px;
  width: 420px;
}
.materialContainer paper-material iron-icon{
  margin-bottom:15px;
}

.materialContainer paper-material .description {
  width: 250px;
  text-align: center;
}

.listContainer{
  padding: 5vh 0;
}

h5{
  text-transform: uppercase;
  color: #988efb;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

.specialTitle{
  color: #988efb;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 9px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 15px;
  display: block;
  border-bottom: 1px solid lightgray;
  text-align: center;

}