
/* fullbleed */
html{
  height:100%;
}

body {
  height: 100%;
  margin: 0;
  font: 14px Roboto,"Lucida Grande", Helvetica, Arial, sans-serif;
}

paper-scroll-header-panel {
  height: 100%;
}
.header{
  height:100px;
  width:100%;
}

paper-scroll-header-panel {
  height: 100%;
  width: 100%;
}

paper-button {
  display: block;
  background: #4285f4;
  color: #fff;
}
paper-menu {
  display: block;
}

.mainContent{
  margin-top:52px;
  width:100%;
  height: 200px;

}

